*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
	background-color: #eee;
	font-family: sans-serif;
	padding-bottom: 1.5rem; 
}
div{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
div h4{
	color: whitesmoke;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	padding: .2em 0 0 0;
}
#colors{
	display: inline;
	text-align: center;
	margin: auto;
	padding: 2rem;
}
#colors li{ 
	color: whitesmoke;
	text-transform: lowercase;
	text-align: center;
	list-style: none;
	letter-spacing: 2px;
	margin:.5em;
	cursor: pointer;
}
#colors li:hover{
	color: #663399;
	font-weight: bold;
}
.info{color: #568;text-align: center;padding: 1.5rem;}
#list{
	padding: 1rem 1rem 2rem 1rem;
	text-align: center;
}
#list li{
	display: inline;
	color:#568;
	margin:0 1rem;
	cursor: pointer;
}
#list li:hover{
	color: orange;
}
.Óvalo{
	width: 350px;
	height: 250px;
	border-radius: 50%;
	background-color: #303030;
}
.Círculo{
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: #303030;
}
.Cuadrado{
	width: 350px;
	height: 350px;
	background-color: #303030;
}
.Rectángulo{
	width: 350px;
	height: 250px;
	background-color: #303030;
}